@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #201e35;
    font-family: Roboto;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.tabs{
    background-color: #2a4dc7;
    width: 630px;
    height: 170px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    display: none;
}

label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    width: 130px;
    height: 130px;
    margin-right: 5px;
    margin-left: 5px;
    transition: all .3s;
    z-index: 1;
    cursor: pointer;
}

i{
    font-size: 30px;
}

.glider {
	position: absolute;
	display: flex;
	height: 130px;
	width: 130px;
	background-color: #fff;
	border-radius: 40px;
	transition: .3s ease-out;
    box-shadow: 6px 6px rgba(0, 0, 0, 0.377);
}

input[id="radio-1"]:checked ~ .glider {
	transform: translateX(-162%);
}

input[id="radio-2"]:checked ~ .glider {
	transform: translateX(-55%);
}

input[id="radio-3"]:checked ~ .glider {
	transform: translateX(55%);
}

input[id="radio-4"]:checked ~ .glider {
	transform: translateX(162%);
}

input[type="radio"]:checked + label {
	color: #2a4dc7;
}

input[type="radio"]:checked ~ i {
	color: #2a4dc7;
}
